<div class="wrapper six columns offset-by-five">
  <h1>Lena Alexandra Niznik</h1>

  <a href="/contact">
    <img src="/images/my_face2.jpg" class="scale-with-grid" alt="a photo of me">
  </a>

  <ul>
    <li class>read fiction</li>
    <li>watch movies</li>
    <li>code</li>
    <li>play with my friends</li>
    <li>travel to far-off lands</li>
  </ul>
</div>